<form (ngSubmit)='add_time(timeForm)' [formGroup]="timeForm">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" id="title" class="form-control form-control-lg" formControlName="title">
  </div>
  <div class="form-group">
    <label for="minutes">Minutes</label>
    <div class="input-group">
      <input type="number" id="minutes" min="1" class="form-control form-control-lg" formControlName="minutes" required>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-dark">
          <span class="octicon octicon-plus"></span>
        </button>
      </span>
    </div>
  </div>
</form>
