.btn-xlg {
  padding: .5rem 1rem;
  font-size: 2rem;
  line-height: 2rem;
  border-radius: .3rem;
}

.octicon {
  font-size: 2rem;
  color: white;
}

a.setting {
  text-align: center;
}

#sidebar {
  background-color: #343a40 !important;
  display: inline-block;
  padding: 10px;
  border-bottom-right-radius: 5px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2001;
}

#sidebar.active {
  width: 300px;
}

#sidebar #sidebar-content {
  display: none;
}

#sidebar.active #sidebar-content {
  display: block;
}

#sidebar-content {
  padding-top: 20px;
  color: #fff;
}

#sidebar #toggler {
  text-align: right;
}

#sidebar #toggler a span {
  color: #ccc;
}

#sidebar #toggler a:hover span {
  color: #fff;
}

#sidebar.active #toggler a span {
  color: #fff;
}

.go-right {
  position: relative;
  right: 0;
  top: 0;
}

.fixed-left {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
