<div class="text-center" [hidden]="isEmpty()">
  <button class="btn btn-dark" (click)="start()" [hidden]="isStarted()">
    <span class="octicon octicon-triangle-right"></span>
  </button>
  <button class="btn btn-dark" (click)="stop()" [hidden]="!isStarted()">
    <span class="octicon octicon-primitive-square"></span>
  </button>
</div>
<table class="table" id="time-list">
  <tbody>
    <tr *ngFor="let t of getList() ; index as i" [ngClass]="{'active': t.active}">
      <td class="align-middle title">{{t.title}}</td>
      <td class="align-middle text-right tick">{{t.minutes}}</td>
      <td class="text-right remove" [hidden]="isStarted()">
        <button class="btn btn-dark" (click)="remove(i)">
          <span class="octicon octicon-trashcan"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<td></td>
